
<div class="container" id="homecont">
    <h1>Welcome{{#if displayName}}<span>, {{displayName}}</span>{{/if}}</h1>
    {{#if email}}
    <h2>{{email}}</h2>
    {{/if}}
    {{#if phone}}
    <h2>{{phone}}</h2>
    {{/if}}
    {{#if photoURL}}
        <img src={{photoURL}} onerror="this.style.display='none'">
    {{/if}}
    {{!-- <img src={{photoURL}} onerror="this.style.display='none'"> --}}
    {{!-- <p>You signed in using Firebase</p> --}}
    {{!-- <p> Sign-in method: <span>{{#if method}}{{method}}{{/if}}{{#if displayName}}Google Sign-in{{/if}}</span></p> --}}
    <p> Sign-in method: <span>{{#if method}}{{method}}{{/if}}</span></p>
    <a href="/logout" id="logoutbtn" class="btn btn-primary">Logout</a>
</div>
<hr style="color: #91c2db">
<div class="container" id="aboutcont">
    <h3>Project for &quot;Computer &amp; Network Security&quot; Course</h3>
    <h4>Department of Electrical and Computer Engineering</h4>
    <p>Developed by: <span><b>Alexandros Kanousis | up1083813</b> &amp; <b>Georgios Stergiopoulos | up1083861</b>  </span></p>
    <p>For this project, we explored the secure sign-in options provided by  Google's <strong>Firebase Auth</strong> and developed this web application presenting some use cases.</p>
    <p>Our application provides the following sign-in methods:
        <ul>
            <li>Email/Password Sign-in</li>
            <li>Google Sign-in</li>
            <li>Anonymous Sign-in</li>
            <li>Phone Sign-in</li>
            <li>Passwordless Sign-in</li>
        </ul>
    </p>
    <p>Find the code in our <a id="githubrepo" href="https://github.com/gdstergiopoulos/FirebaseAuthProject">GitHub Repo<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
    </svg></a></a></p>

</div>